body {
    background: url(../image/background.png) no-repeat fixed;
    background-size: cover;
}

.header-menu {background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: color 3s;
}

.logo:hover {
    color: #3CB878;
}

.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
    padding-inline-start: 0px;
    

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding-right: 25px;
}

.item-compas::after {
    content: " ";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    left: 150px;
    top: 4px;

}

.menu-text, .menu-link {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: color 1s;
}

.menu-link:hover {
    color: #3CB878;
}

.nav-item:hover .nav-item-fill{
    fill: #3CB878;
    transition: fill 1s;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}

.container-form {
    width: 444px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 30px 60px;
    position: relative;
}

.sign-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-form {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
}
.sign-form {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.login-form {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.sign-form::before {
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.login-form:hover {
    text-decoration: underline;
}
 .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 0;
    list-style: none;
 }

 .social-item {
    position: relative;
 } 
 .social-link  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 15px 22px 15px 12px;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    transition: color 1s;
 }
 .facebook-link {
    background: #305DB8;
}

.google-link {
    background: #DF4A32;
}

.facebook-link:hover {
    background: #022263;
}

.google-link:hover {
    background: #AB1F09;
}

.social-link::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    opacity: 0.1;
}

.facebook-link::after {
    background-color: #0A162F;
}

.google-link::after {
    background: #2B0D09;
}

.row {
    font-size: 14px;
    line-height: 14px;
    text-align:center;
    color: #848484;
    margin-top: 0;
    position: relative;
}

.row::before,
.row::after {
    content: " ";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
}

.row::before {
    left: 0;
    top: 8px;
}
.row:after {
    left: 171px;
    top: 8px;
}

.form-line {
    display: none;
}

.form-text {
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: box-shadow .5s .1s;
}

.form-text:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    cursor: auto; 
}

::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.check-form {
    display: flex;
    align-items: center;
}

.check-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    cursor: pointer;
}


.check-text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    text-align: center;
    cursor: pointer;
}
.check-link {
    color: #3CB878;
    margin-left: 2px;
}
.check-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: color 3s;
}

/* .check-item:checked {
    content: url(../image/Vector.svg);
} */

.main-button {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-align: center;
    padding: 16px 20px;
    margin-top: 20px;
    transition: .5s;
}

.main-button:hover {
    background-color: #01813F;
}